<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}" />
    <link rel="icon" href="/static/favicon.png" />
    <title>Casual Cats</title>
  </head>
  <body>
    {% if cat %}
    <div id="cat" data-cat="{{ cat }}"></div>
    {% endif %}
    <div id="root"></div>
    {% if env == 'development' %}
    <script src="http://localhost:9000/bundle.js"></script>
    {% else %}
    <script src="/static/bundle.js"></script>
    {% endif %}
  </body>
</html>
